@font-face {
  font-family: "iconfont"; /* Project id 2637127 */
  src: url('../font/iconfont.woff2?t=1624952201039') format('woff2'),
       url('../font/iconfont.woff?t=1624952201039') format('woff'),
       url('../font/iconfont.ttf?t=1624952201039') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangchuan:before {
  content: "\e663";
}

.icon-login-full:before {
  content: "\e97e";
}

.icon-sort-asc-full:before {
  content: "\ea21";
}

.icon-sort-desc-full:before {
  content: "\ea22";
}

.icon-ziyuan:before {
  content: "\e612";
}

.icon-sort-ascending:before {
  content: "\eaf3";
}

.icon-sort-descending:before {
  content: "\eaf4";
}

.icon-i:before {
  content: "\e67f";
}

.icon-diqiu:before {
  content: "\e62e";
}

.icon-fangda:before {
  content: "\e650";
}

.icon-huaban18:before {
  content: "\e667";
}

.icon-harddriveyingpan:before {
  content: "\e6db";
}

.icon-denglu:before {
  content: "\e601";
}

.icon-denglutongji:before {
  content: "\e669";
}

.icon-denglu1:before {
  content: "\e6bd";
}

.icon-signout:before {
  content: "\e610";
}

.icon-yk_fangkuai:before {
  content: "\e600";
}

.icon-tianjiawenjian:before {
  content: "\f447";
}

.icon-file:before {
  content: "\e7e0";
}

.icon-wenjian:before {
  content: "\e69f";
}

.icon-Gotoright:before {
  content: "\e6c6";
}

