.alert {
  position: fixed;
  margin: 0;
  color: $white;
  padding: 18px 35px 18px 20px;
  z-index: $alert-z-index;
  width: calc(100% - 40px);
  transition: opacity 300ms, transform 300ms, background-color 300ms;
  min-height: $alert-min-height;

  @include media-breakpoint-up(sm) {
    max-width: $alert-max-width;
  }

  &:not(.alert--progress) {
    border-radius: $border-radius;
    box-shadow: $alert-box-shadow;
    right: 20px;
    top: 20px;
  }

  &--enter {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }

  &--enter-done {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  &--exit {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
}

.alert__sub {
  font-size: $font-size-sm;
  color: $alert-sub-color;
}


.alert__close {
  @include size(23px, 23px);
  background: $alert-close-icon no-repeat center;
  cursor: pointer;
  margin-left: auto;
  transition: background-color 300ms;
  position: absolute;
  top: 14px;
  right: 15px;
  border-radius: 50%;

  &:hover {
    background-color: rgba($white, 0.2);
  }
}

@each $variant, $bg in $alert-variants {
  .alert--#{$variant} {
    background-color: $bg;
  }
}

.alert--progress {
  left: 0;
  bottom: 0;
  background-color: $alert-progress-bg;
}