.header {
  position: relative;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  margin-bottom: 15px;
  padding: 0 0 0 5px;

  @include media-breakpoint-down(xs) {
    padding: 10px 15px;
    margin: -10px -10px 0;
    box-shadow: 0 0 10px rgba($black, 0.1);
    z-index: $header-z-index;
  }
}

.guest-login {
  margin-left: auto;
  color: $white;
  background-color: $guest-login-bg;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 2px;

  &:hover {
    background-color: $guest-login-hover-bg;
    color: $white;
  }
}

.sidebar-toggle {
  @include icon($sidebar-toggle-icon);
  flex-shrink: 0;
  margin-right: 12px;
}