#main {
  @include size(100%, 100%);
  display: flex;
}

.content {
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(sm) {
    padding: 20px 20px 0;
  }
}