.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  @include size(100%, 100%);
  z-index: $modal-z-index;
  background-color: $modal-bg;
  overflow: auto;
  transition: opacity 300ms, transform 300ms;

  &:not(.modal--dialog) {
    .modal__content {
      max-width: $modal-width;
    }
  }

  &--enter {
    opacity: 0;
    transform: scale(1.25);
  }

  &--enter-done {
    opacity: 1;
    transform: scale(1);
  }

  &--exit {
    opacity: 0;
    transform: scale(1.25);
  }
}

.modal--dialog {
  .modal__content {
    max-width: $modal-dialog-width;
    text-align: center;
  }
}

.modal__content {
  background-color: $modal-content-bg;
  padding: 30px;
  border-radius: $border-radius;
  width: 100%;
  position: relative;
  margin: auto;
}

.modal__title {
  color: $modal-title-color;
  margin: -5px 0 20px;
}

.modal__sub-title {
  margin: -12px 0 30px;
  font-size: $font-size-sm;
  color: $modal-sub-title-color;
  word-wrap: break-word;
}

.modal__icon {
  margin: 0 0 20px;
}

.modal__actions {
  text-align: center;

  & > .button {
    margin-top: 20px;

    & + .button {
      margin-left: 6px;
    }
  }
}

.modal__close {
  @include size(23px, 23px);
  background: $modal-close-icon no-repeat center;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 300ms;

  &:hover {
    background-color: $modal-close-hover-bg;
  }
}