.object-actions {
  background-color: $theme-invert-bg;
  padding: 11px;
  position: absolute;
  top: 0;
  transform: translate3d(0, -101%, 0);
  opacity: 0;
  pointer-events: none;
  z-index: $header-z-index + 1;
  will-change: opacity, transform;
  transition: opacity 250ms, transform 250ms;

  @include media-breakpoint-up(sm) {
    left: 20px;
    width: calc(100% - 40px);
    border-radius: 0 0 $border-radius $border-radius;
  }

  @include media-breakpoint-down(xs) {
    left: 0;
    width: 100%;
  }
}

.object-actions__item {
  display: inline-block;
  padding: 10px 12px;
  color: $theme-invert-text-color;
  border-radius: 2px;
  border: 0;
  background-color: transparent;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      background-color: $theme-invert-hover-bg;
      color: $theme-invert-text-hover-color;

      & > img {
        opacity: 1;
      }
    }
  }

  &:disabled {
    opacity: 0.5;
  }

  & > img {
    vertical-align: middle;
    position: relative;
    top: -2px;
    opacity: 0.85;
  }

  & > span {
    margin-left: 10px;

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
}

.object-actions--active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  pointer-events: auto;
}

.object-actions__close {
  float: right;
}