.object-actions {
  background-color: $theme-invert-bg;
  padding: 8px;
  position: absolute;
  top: 0;
  z-index: $header-z-index + 1;
  will-change: opacity, transform;
  transition: opacity 250ms, transform 250ms;

  @include media-breakpoint-up(sm) {
    left: 20px;
    width: calc(100% - 40px);
    border-radius: 0 0 $border-radius+1 $border-radius+1;
  }

  @include media-breakpoint-down(xs) {
    left: 0;
    width: 100%;
  }

  &--enter {
    transform: translate3d(0, -101%, 0);
    opacity: 0;
    pointer-events: none;
  }

  &--enter-done {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    pointer-events: auto;

    & + .header {
      opacity: 0;
    }
  }

  &--exit {
    transform: translate3d(0, -101%, 0);
    opacity: 0;
    pointer-events: none;
  }
}

.object-actions__item {
  display: inline-block;
  padding: 10px 15px;
  color: $theme-invert-text-muted-color;
  border-radius: 2px;
  border: 0;
  background-color: transparent;
  transition: color 300ms, background 300ms;
  cursor: pointer;

  &:hover {
    background-color: $theme-invert-hover-bg;
    color: $theme-invert-text-hover-color;

    & > svg {
      fill: $theme-invert-text-hover-color;
    }
  }

  & > svg {
    vertical-align: middle;
    position: relative;
    top: -1px;
    opacity: 0.9;
    fill: $theme-invert-text-muted-color;
    transition: fill 300ms;
  }

  & > span {
    margin-left: 10px;

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
}

.object-actions__close {
  float: right;
}