$object-types:
        folder
        pdf
        zip
        audio
        code
        excel
        image
        video
        other
        text
        doc
        presentation;

.objects {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.objects__header {
  flex: 0 0 auto;
  margin-top: 12px;

  @include media-breakpoint-down(xs) {
    display: none;
  }
}

.objects__body {
  position: relative;
  height: 100%;
  overflow: hidden;

  &:before {
    color: $white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: calc(100% - 20px);
    width: 100%;
    left: 0;
    top: 10px;
    z-index: 1;
    transition: background 300ms;
    background: rgba($theme-invert-bg, 0.5) url(../img/icons/upload.svg) no-repeat center;
    border-radius: 2px;
  }
}

.objects__body--active {
  &:before {
    content: '';
  }
}

.objects__scroller {
  height: 100%;
  overflow: auto;
  padding: 10px 0;
}

.objects__row {
  display: flex;
  align-items: center;
  will-change: background-color;
  transition: background-color 300ms;
  cursor: pointer;
  padding: 5px;
  flex-wrap: wrap;
  position: relative;

  &:not(.objects__row--header) {
    margin-bottom: 2px;

    @include media-breakpoint-up(sm) {
      border-radius: 2px;

      .objects__item--name {
        padding: 10px 0;
      }
    }

    @include media-breakpoint-down(xs) {
      padding: 10px 15px 10px $objects-icon-size + 25;
      margin: -1px 0;
      min-height: $objects-row-min-height;

      &:not(:last-child) {
        &:after {
          position: absolute;
          content: '';
          left: $objects-icon-size + 25;
          bottom: 0;
          @include size(calc(100% - (#{$objects-icon-size} + 40px)), 1px);
          background-color: $objects-row-mobile-border-color;
          z-index: -1;
        }
      }
    }
  }

  &:not(.objects__row--checked):not(.objects__row--header) {
    &:hover {
      @include media-breakpoint-up(sm) {
        background-color: $objects-row-hover-bg;

        .objects__icon {
          background-color: darken($objects-icon-bg, 2.5%);
        }
      }
    }
  }
}

.objects__row--header {
  @include media-breakpoint-up(sm) {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      left: 5px;
      bottom: 0;
      width: calc(100% - 10px);
      background-color: $objects-header-border-color;
      height: 1px;
    }

    .objects__item {
      padding: 5px 0;
      @include user-select(none);
    }
  }
}

.objects__row--checked {
  .objects__icon {
    background-color: $white;
  }
}

.objects__row--checked {
  background-color: $objects-row-checked-bg;

  .objects__item--name {
    pointer-events: none;
  }
}

.objects__icon {
  @include size($objects-icon-size, $objects-icon-size);
  border-radius: $border-radius;
  background-color: $objects-icon-bg;
  background-position: center;
  background-repeat: no-repeat;
  will-change: background-color;
  transition: background-color 300ms;
}

.objects__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

@each $type in $object-types {
  .objects__icon--#{$type} {
    background-image: url('../img/file-types/#{$type}.svg');
  }
}

.objects__item {
  padding-right: 12px;
  position: relative;

  &:hover {
    .objects__sort {
      opacity: 1;
    }
  }
}

.objects__item--name {
  flex: 1 1 auto;
  min-width: 200px;

  & > span {
    display: block;
    @include text-truncate();
  }

  @include media-breakpoint-down(xs) {
    flex-basis: 100%;
  }
}

@include media-breakpoint-up(sm) {
  .objects__item--size {
    flex: 0 0 120px;
  }

  .objects__item--modified {
    flex: 0 0 165px;
  }
}

@include media-breakpoint-down(xs) {
  .objects__item--size,
  .objects__item--modified {
    font-size: $font-size-sm;
    color: $theme-text-muted-color;
  }

  .objects__item--icon {
    position: absolute;
    left: 15px;
    top: 10px;
  }
}

.objects__sort {
  position: absolute;
  right: 20px;
  bottom: 5px;
  @include size(15px, 12px);
  opacity: 0;
  transition: opacity 300ms;

  & > i {
    height: 2px;
    background-color: $body-color;
    display: block;
    transition: width 300ms;

    & + i {
      margin-top: 2px;
    }
  }
}

.objects__sort--asc {
  & > i {
    &:nth-child(1) {
      width:33.33%;
      transition-delay: 0ms;
    }

    &:nth-child(2) {
      width:66.66%;
      transition-delay: 100ms;
    }

    &:nth-child(3) {
      width:100%;
      transition-delay: 200ms;
    }
  }
}

.objects__sort--desc {
  & > i {
    &:nth-child(1) {
      width: 100%;
      transition-delay: 200ms;
    }

    &:nth-child(2) {
      width: 66.66%;
      transition-delay: 100ms;
    }

    &:nth-child(3) {
      width: 33.33%;
      transition-delay: 0ms;
    }
  }
}
