.path {
  display: flex;
  align-items: center;
  flex: 1 1 100%;
  min-height: 37px;
  margin-left: -5px;
}

.path__item {
  display: flex;
  align-items: center;

  &:only-child,
  &:last-child {
    .path__separator {
      display: none;
    }
  }

  &:not(:nth-last-child(-n+3)) {
    display: none;
  }

  & > span {
    padding: 5px;
    @include text-truncate();
    border-radius: $border-radius;
    display: block;
    position: relative;
    line-height: 100%;

    @include media-breakpoint-up(sm) {
      max-width: 150px;
    }

    @include media-breakpoint-down(xs) {
      max-width: 40px;
      font-size: $font-size-sm;
    }
  }

  &:not(:last-child) {
    & > span {
      cursor: pointer;

      &:hover {
        background-color: $path-item-hover-bg;
      }
    }
  }
}

.path__separator {
  @include size(7px, 11px);
  background: $path-seperator-icon no-repeat center;
  margin: 0 5px;
  position: relative;
  top: 1px;
}

.path__back {
  @include icon($path-back-icon);
  margin-right: 5px;
}