.path {
  display: flex;
  align-items: center;
  flex: 1 1 100%;
  min-height: 37px;
}

.path__item {
  display: flex;
  align-items: center;

  &:only-child,
  &:last-child {
    .path__separator {
      display: none;
    }
  }

  @include media-breakpoint-up(sm) {
    &:not(:nth-last-child(-n+3)) {
      display: none;
    }
  }

  @include media-breakpoint-down(xs) {
    &:not(:nth-last-child(-n+1)) {
      display: none;
    }
  }

  & > span {
    height: $objects-icon-size;
    @include text-truncate();
    border-radius: $border-radius;
    position: relative;
    line-height: 100%;
    max-width: 180px;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  &:not(:last-child) {
    & > span {
      cursor: pointer;

      &:hover {
        background-color: $path-item-hover-bg;
      }
    }
  }
}

.path__item--home {
  & > span {
    background: $path-home-icon no-repeat center left 10px;
    padding-left: 35px;

    @include media-breakpoint-up(md) {
      background-color: $path-home-bg;
      margin-right: 10px;
    }
  }
}

.path__separator {
  @include size(9px, 7px);
  background: $path-seperator-icon no-repeat center;
  margin: 0 5px;
  position: relative;
  top: 1px;
  opacity: 0.75;
}

.path__back {
  margin-right: 7px;

  & > i {
    @include icon($path-back-icon);
  }

  &--mobile {
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

  &--desktop {
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
}