// Grid Breakpoints
$grid-breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);
$breakpoint-max-height: 500px;


// Colors
$black: #000;
$white: #fff;
$red: #ff6b68;
$blue: #2196F3;
$green: #32c787;
$amber: #ffc721;


// Theme Colors
$theme-invert-bg: #263238;
$theme-invert-hover-bg: #1f2b31;
$theme-invert-active-bg: #2f3e46;
$theme-invert-text-color: #e5edf1;
$theme-invert-text-hover-color: $white;
$theme-invert-text-active-color: $theme-invert-text-hover-color;
$theme-invert-text-muted-color: #859eab;

$theme-grey-bg: #edf5fb;
$theme-hover-bg: lighten($theme-grey-bg, 1.5%);
$theme-active-bg: #e4f2f9;
$theme-text-muted-color: #88a2ad;
$theme-border-color: #edf5fb;


// Fonts
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-size-base: 14px;
$font-size-sm: $font-size-base - 2;
$font-weight-bold: 500;


// Body
$body-color: #455a64;
$body-bg: $white;


// Links
$link-color: #3184ff;
$link-hover-color: darken($link-color, 10%);


// Headings
$headings-color: $theme-invert-bg;


// Border Radius
$border-radius: 2px;


// Header
$header-z-index: 100;
$logo-container-width: 280px;
$guest-login-bg: $red;
$guest-login-hover-bg: darken($red, 10%);
$sidebar-toggle-icon: url(../img/icons/menu.svg);
$logo-color: $theme-invert-text-active-color;
$sign-out-icon: url(../img/icons/sign-out.svg);


// Sidebar
$sidebar-width: 225px;
$sidebar-bg: $theme-invert-bg;
$sidebar-mobile-z-index: $header-z-index + 2;
$sidebar-backdrop-z-index: $sidebar-mobile-z-index - 1;
$sidebar-bottom-color: $theme-invert-text-muted-color;
$sidebar-bottom-bg: $theme-invert-hover-bg;
$storage-bg: $theme-invert-active-bg;
$storage-fill-bg: $white;
$sidebar-close-icon: url(../img/icons/close-dark.svg);


// Buckets
$buckets-item-color: $theme-invert-text-muted-color;
$buckets-item-active-color: $theme-invert-text-active-color;
$buckets-item-hover-bg: $theme-invert-hover-bg;
$buckets-item-active-bg: $theme-invert-active-bg;
$bucket-actions-bg: lighten($theme-invert-active-bg, 3%);
$bucket-item-icon: url(../img/icons/bucket.svg);
$bucket-item-active-icon: url(../img/icons/bucket-active.svg);
$buckets-dropdown-item-color: $theme-invert-text-color;
$buckets-dropdown-item-hover-color: $theme-invert-text-hover-color;
$bucket-search-border-color: #dee6ea;


// Path
$path-item-hover-bg: $theme-hover-bg;
$path-seperator-icon: url(../img/icons/path-seperator.svg);
$path-back-icon: url(../img/icons/path-previous.svg);
$path-home-icon: url(../img/icons/home.svg);
$path-home-bg: $theme-grey-bg;


// Icons
$icon-bg: $theme-grey-bg;


// Objects
$objects-row-checked-bg: $theme-active-bg;
$objects-row-hover-bg: $theme-hover-bg;
$objects-icon-bg: $icon-bg;
$objects-icon-border-color: $theme-border-color;
$objects-header-border-color: $theme-border-color;
$objects-icon-size: 37px;
$objects-row-mobile-border-color: $theme-grey-bg;
$objects-row-min-height: 57px;


// Add new
$add-new-z-index: 100;
$add-new-toggle-z-index: 10;
$add-new-bucket-icon: url(../img/icons/create-bucket.svg);


// Button
$button-variants: (
  info: #2196F3,
  danger: #ff6b68,
  success: #32c787,
  warning: #FF9800,
  light: $theme-grey-bg,
  dark: #1c2429
);
$button-font-size: $font-size-base - 1;
$button-height: 36px;
$button-dark-color: $theme-invert-text-color;


// About
$about-title-color: $theme-invert-text-color;
$about-value-color: $theme-invert-text-muted-color;


// Form
$form-input-height: $button-height;
$form-input-font-size: $font-size-base - 1;
$form-input-color: $body-color;
$form-input-label-color: $headings-color;
$form-placeholder-color: #81a0af;
$form-input-bg: #f3f8fb;
$form-input-focus-border-color: #dfe9ef;
$form-input-dark-color: $theme-invert-text-color;
$form-input-dark-label-color: $theme-invert-text-muted-color;
$form-input-dark-bg: #27333a;
$form-input-dark-focus-border-color: #35454e;


// Alert
$alert-variants: (
  info: $blue,
  danger: $red,
  success: $green,
  warning: $amber
);
$alert-max-width: 500px;
$alert-min-height: 52px;
$alert-box-shadow: 0 5px 10px rgba($black, 0.1);
$alert-z-index: 10000;
$alert-progress-bg: $blue;
$alert-sub-color: rgba($white, 0.5);
$alert-close-icon: url(../img/icons/close.svg);


// Modal
$modal-z-index: $alert-z-index - 1;
$modal-bg: rgba($theme-invert-bg, 0.1);
$modal-content-bg: $white;
$modal-width: 500px;
$modal-title-color: $theme-invert-bg;
$modal-sub-title-color: $theme-text-muted-color;
$modal-dialog-width: 300px;
$modal-close-icon: url(../img/icons/close-dark.svg);
$modal-close-hover-bg: $theme-hover-bg;


// Select Group
$select-group-bg: $theme-grey-bg;
$select-group-item-checked-bg: $blue;


// Policy
$policy-item-bg: $form-input-bg;
$policy-close-icon: $modal-close-icon;


// Share
$set-expire-handle-icon: url(../img/icons/chevron-right.svg);


// Login
$login-bg: $theme-grey-bg;
$login-inner-bg: $white;
$login-inner-max-width: 1100px;
$login-inner-max-height: 550px;
$login-text-color: $theme-invert-text-muted-color;


// Progress
$progress-bg: rgba($white, 0.1);
$progress-bar-height: 2px;
$progress-bar-bg: $white;


// Tooltip
$tooltip-bg: $theme-invert-bg;
$tooltip-color: $theme-invert-text-color;
$tooltip-arrow-size: 6px;