* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:focus,
    &:active {
        outline: 0;
    }
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,
body {
    min-height: 100%;
}

a {
    .transition(color);
    .transition-duration(300ms);

}

button {
    border: 0;
}


