// Text alignments
.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

// Hidden
.hidden {
    display: none !important;
}

// Colors
.c-red {
    color: @red;
}

.c-green {
    color: @green;
}

.c-amber {
    color: @amber;
}

.c-blue {
    color: @blue;
}