// Base
.sidebar {
	width: @sidebar-width;
	background-color: @sidebar-bg;
	position: fixed;
	height: 100%;
	z-index: 1;

	@media(min-width: @screen-md-min) {
		border-right: 1px solid @br-line-color;
	}

	@media(max-width: @screen-sm-max) {
		z-index: 9;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
		.transition(all);
		.transition-duration(300ms);
		.translate3d((-@sidebar-width - 15px), 0, 0);

		&.toggled {
			.translate3d(0, 0, 0);
		}
	}
}

// Logo
.logo {
	.clearfix();
	padding: @sidebar-padding;
}

.logo__img {
	width: 30px;
	float: left;
	margin: 0 13px 0 -2px;
}

.logo__title {
	overflow: hidden;
	padding-top: 5px;

	& > h2 {
		font-weight: normal;
		text-transform: uppercase;
		line-height: 100%;
		font-size: 20px;
		margin: 0;
	}

	& > small {
		display: block;
		margin-top: 5px;
		font-size: 13px;
		color: @text-muted-color;
		padding-left: 1px;
	}
}

// Bucket search
.buckets__search {
	border-top: 1px solid @br-line-color;
	border-bottom: 1px solid @br-line-color;
	padding: 0 @sidebar-padding;
	margin-bottom: @sidebar-padding/2;

	input[type=text] {
		height: 40px;
		border: 0;
		font-size: 13px;
		padding: 0 @sidebar-padding 0 @sidebar-padding+10;
		width: 100%;
		background: url(/minio/search.svg) no-repeat center left 5px;
		color: @headings-color;
		
		.placeholder(@text-muted-color);
	}
}

// Bucket list
.buckets__list {
	list-style: none;
	margin: 0;
	padding: 0;
	.user-select(none);

	& > li {
		padding: 10px @sidebar-padding 10px @sidebar-padding*2+10;
		position: relative;
		cursor: pointer;
		.transition(opacity);
		.transition-duration(300ms);

		&:not(.buckets__list__active) {
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
		}

		&:before {
			width: 18px;
			height: 18px;
			background: url(../../img/icons/bucket.svg) no-repeat left top;
			left: @sidebar-padding+3;
			top: 0;
			bottom: 0;
			margin: auto;
		}

		&:after {
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: #f96b59;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			.opacity(0);
			.transition(all);
			.transition-duration(300ms);
		}

		&:hover {
			&, .buckets__list__actions {
				.opacity(1);
			}

			.buckets__list__actions {
				.rotate(0deg);
			}
		}

		&.buckets__list__active {
			&:after {
				.opacity(1);
				left: @sidebar-padding/2;
			}
		}
	}
}

.buckets__list__name {
	color: @headings-color;
	font-weight: 500;
	word-wrap: break-word;
}

.buckets__list__actions {
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid darken(@br-line-color, 5%);
	right: -15px;
	top: 0;
	bottom: 0;
	margin: auto;
	background: @white url(/minio/more-h.svg) no-repeat center;
	background-size: 15px;
	z-index: 5;
	.opacity(0);
	.transition(all);
	.transition-duration(300ms);
	.rotate(-90deg);

	&:hover {
		background-color: #f9f9f9;
	}
}


// Policy
.policy__body {
	padding-bottom: 35px;
}

.policy__list {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	padding: 10px 35px;
}

header.policy__list {
	margin-bottom: 10px;
}

.policy__item {
	display: block;
	font-size: 13px;
	color: @headings-color;

	&:nth-child(1) {
		flex: 2;
	}

	&:nth-child(2) {
		margin: 0 20px;
		width: 150px;
	}

	&:nth-child(3) {
		width: 70px;
	}
}

div.policy__list {
	select {
		border: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 0.01px;
		text-overflow: '';
	}

	.policy__item {
		&:not(:last-child) {
			padding: 0 5px;
		}
	}

	&:nth-child(even) {
		background-color: @muted-bg;
	}
}