.page-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 100;
    transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
}

.page-loader:before,
.page-loader:after {
    content: '';
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}

.page-loader:before {
    background: url(/minio/logo.svg) no-repeat center;
    background-size: 30px;
}

.page-loader:after {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
    border: 2px solid #f3f3f3;
    border-left-color: #4a5558;
}

.page-loader--0 {
    opacity: 0;
}

.page-loader--1 {
    display: none;
}


@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}