. {
  etcd churchofminio.com {
      endpoint http://localhost:2379 http://localhost:4001
      upstream /etc/resolv.conf
  }
  debug
  prometheus
  cache 160 mydomain.com
  loadbalance
  forward . /etc/resolv.conf
}